@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat:400,700');

html {
    font-size: 1rem;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.borderBug {
    border: solid 2px rgb(10, 100, 4);
}

.lineHeightSmall {
    line-height: 1;
}

.spacer {
    margin-bottom: 56px;
}

.bannierehaut {
    width: 100vw;
    height: 15.625vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageContexte {
    background-image: url('../images/bandeau_notre_concept.jpg');
}

.pageMenu {
    background-image: url('../images/bandeau_notre_menu.jpg');
}

.pagePhotos {
    background-image: url('../images/bandeau_notre_gallerie_photo.jpg');
}

.pageHistoire {
    background-image: url('../images/bandeau_notre_histoire.jpg');
}

.pageRestaurants {
    background-image: url('../images/bandeau_nos_restaurants.jpg');
}

.pageMentionsLegales {
    background-image: url('../images/bandeau_mentions_legales .jpg');
}

.titleoverimage {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin-bottom: 1em;
}

h1,
.h1 {
    font-family: 'Courgette', cursive;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
}

h2,
.h2 {
    font-family: 'Courgette', cursive;
    font-size: 1.2rem;
}

h3,
.h3 {
    font-family: 'Courgette', cursive;
    font-size: 1.1rem;
}

.col-xs-0 {
    width: 4em;
}

.col-menu {
    border: 1px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: left;
}

.radiusse {
    border-radius: 0.25rem;
}

.footeur {
    font-size: 0.8rem;
}

.footeur > a {
    text-decoration: underline;
}

.footeur:hover {
    color: rgba(173, 212, 92, 100);
}

/* couleur titres et fonds de boutons actifs (orange) */

.clr-01 {
    color: rgba(255, 84, 10, 100);
}

.bgclr-01 {
    background-color: rgba(255, 84, 10, 100);
}

/* couleur fond des sections et articles (vert clair) */

.bgclr-02 {
    background-color: rgba(173, 212, 92, 100);
}

/* couleur fond du menu (vert foncé) */

.bgclr-03 {
    background-color: rgba(10, 100, 4, 100) !important;
}

/* white is white, dylan is dylan */

.clr-04 {
    color: rgba(255, 255, 255, 100);
}

.bgclr-04 {
    background-color: rgba(255, 255, 255, 100);
}

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .spacer {
        margin-bottom: 67px;
    }

}

@media (min-width: 768px) {
    html {
        font-size: 1.3rem;
    }
    h1,
    .h1 {
        font-size: 2.2rem;
    }
    .spacer {
        margin-bottom: 72px;
    }
    h3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.4rem;
    }
    h1,
    .h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .spacer {
        margin-bottom: 78px;
    }
}

.list {
    list-style-type: none;
}


/* CSS utilisé sur la page nos-menus */

.block2 p {
    font-size: 0.8rem;

}

.block2 {
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.carte {

    background: rgba(173, 212, 92, 100);
    margin-top: 5px;
    text-align: center;
    clip-path: polygon( 0% 20px, /* top left */
    20px 0%, /* top left */
    calc(100% - 20px) 0%, /* top right */
    100% 20px, /* top right */
    100% calc(100% - 20px), /* bottom right */
    calc(100% - 20px) 100%, /* bottom right */
    20px 100%, /* bottom left */
    0 calc(100% - 20px)/* bottom left */
    );
}



.hiderow {

    display: none;
}


.show {
    display: flex;
}

.btn:hover {
    background-color: rgba(255, 84, 10, 100);
}

.all:focus,
.lyon:focus,
.reims:focus,
.paris:focus,
.loupe:focus,
.strasbourg:focus,
.orleans:focus,
.toulouse:focus,
.biarritz:focus,
.bordeaux:focus,
.lille:focus {
    git add . background-color: rgba(255, 84, 10, 100);
}

.active {
    background-color: rgba(255, 84, 10, 100);
}

.btn:hover {
    background-color: rgba(255, 84, 10, 100);
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgba(10, 100, 4, 100);
    color: rgba(255, 255, 255, .75);
    cursor: pointer;
}

.btn {
    text-align: center;
}

/* css de la page notre histoire */

.cuisto {
    background-color: lightgray;
    border-radius: 15px;
    margin-bottom: 3rem;
}
