.block2 p {
	font-size: 0.8rem;
	
}

.block2{
	border-left : 1px black solid;
	border-right: 1px black solid;
}

.carte{
	
	background: rgba(173, 212, 92, 100);
	border    : 1px black solid;
	margin-top: 5px;
	text-align: center;
}

.show {
    display: block;
}

.row {
	
    display: none; /* Hide columns by default */
}




/*
[class*="col-"] {
    border: 1px solid black;
    border-radius: 6px;
    line-height: 40px;
}

*/