.block2 p {
	font-size: 0.8rem;
	
}

.block2{
	border-left : 1px black solid;
	border-right: 1px black solid;
}

.carte{
	
	background: rgba(173, 212, 92, 100);
	border    : 1px black solid;
	margin-top: 5px;
	text-align: center;
}



.hiderow {

    display: none; 
}


.show {
    display: flex;
}

.btn:hover {
  background-color: rgba(255, 84, 10, 100);
}

.all:focus, .lyon:focus, .reims:focus, .paris:focus, .loupe:focus, .strasbourg:focus, .orleans:focus, .toulouse:focus, .biarritz:focus, .bordeaux:focus, .lille:focus{
      background-color: rgba(255, 84, 10, 100);
}

/*
[class*="col-"] {
    border: 1px solid black;
    border-radius: 6px;
    line-height: 40px;
}

*/