* {
    box-sizing: border-box;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    display: none; /* Hide columns by default */
}

.gallery:hover {
    border: 1px solid #777;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgba(10, 100, 4, 100);
    padding: 7px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgba(10, 100, 4, 100);
  color: rgba(255,255,255,.75);
  cursor: pointer;
}

/* Add a orange background color on mouse-over */
.btn:hover {
  background-color: rgba(255, 84, 10, 100);
}

.all:focus, .lyon:focus, .reims:focus, .paris:focus, .loupe:focus, .strasbourg:focus, .orleans:focus, .toulouse:focus, .biarritz:focus, .bordeaux:focus, .lille:focus{
      background-color: rgba(255, 84, 10, 100);
}

.btn{
    text-align: center;
}
.container{
    border-width: 1rem;
    border-color: rgba(255, 84, 10, 100);
}
